{% extends 'base.html.twig' %}

{% block title %}Index des boissons{% endblock %}

{% block body %}
    <h1>Index des boissons</h1>

    <div class="d-flex justify-content-end mb-3 gap-2">
        <a href="{{ path('app_product_export_csv') }}" class="btn btn-success">
            <i class="fas fa-file-csv"></i> Exporter en CSV
        </a>

        {% if app.request.query.get('sort') == 'price_desc' %}
            <a href="{{ path('app_product_index') }}" class="btn btn-secondary">
                <i class="fas fa-times"></i> Désactiver le tri par prix
            </a>
        {% else %}
            <a href="{{ path('app_product_index', {'sort': 'price_desc'}) }}" class="btn btn-info">
                <i class="fas fa-sort-amount-down"></i> Trier par prix décroissant
            </a>
        {% endif %}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type de boisson</th>
                <th>Nom</th>
                <th>Marque</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.type }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.marque }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }} €</td>
                <td>{{ product.stock }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('app_product_show', {'id': product.id}) }}">Afficher</a>
                        <a href="{{ path('product_flow_edit', {'id': product.id}) }}">Modifier</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune boisson enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('product_flow_start') }}">Créer une nouvelle boisson</a>
    {% endif %}
{% endblock %}
