<header>

    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">

            <a class="navbar-brand" href="{{ path('accueil') }}">Site</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}" class="navbar-brand">Se déconnecter</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}" class="navbar-brand">S'inscrire</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}" class="navbar-brand">Se connecter</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_user_index') }}" class="navbar-brand">Utilisateurs</a>
                        </li>
                    {% endif %}
                    {% if is_granted('CLIENT_MANAGE') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_client_index') }}">Clients</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_product_index') }}" class="navbar-brand">Produits</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

</header>